*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #f0cbc1;
    z-index: 0;
    margin-bottom: 300px;
}

.Gheo{
    text-align: center;
    color: #ec4218;
}
.topnav {
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 100;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  
  .topnav a:hover {
    background-color:white;
    color: #ec4218;
  }
  
  .topnav a.active {
    background-color: #ec4218;
    color: white;
  }
  .topnavv a{
    float: right;
  }
  .intro{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 35px;
    
  }
  .Gheo{
    font-size: 50px;
    margin-top: 5%;
  }
  .infor{
text-align: center;
font-size: 30px;
margin-left: 20%;
margin-right: 20%;
margin-top: 3%;
color: #ec4218;
  }
.injos {
  float: left;
  overflow: hidden;
}

.injos .injos2 {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.tonav a:hover, .injos:hover .injos2 {
  background-color: white;
  color: #ec4218;
}

.injosinfor {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.injosinfor a {
  float: none;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.injosinfor a:hover {
  background-color: white;
}

.injos:hover .injosinfor {
  display: block;
}
.inceputuri{
  border: 5px solid #ec4218;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
  transition: 1s;
}
.inceputuri:hover{
  transform: scale(1.2)
}
.sec1{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  gap: 3em;
  margin-top: 3%;
  margin-left: 7%;
  margin-right: 7%;
}
.subtlt{
  font-size: 25px;
  text-align: center;
}